<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="container-fluid pcolor">
  <div class="row">
      <div class="col col-md-12">
          <div class="row">
              <div class="col-md-9">
                      <span style="cursor : pointer" (click)="goBack()">
                              <span class="back pirate">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i> Back</span>
                            </span>
              </div>
              <div class="col-md-3"> 
                  <label for="search"></label>
                  <div class="input-container">
                    <input type="text" [(ngModel)]="search"/>
                    <label>Search for a country</label>		
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container-fluid pcolor">
<div class="row">
<div class="col-md-3 chover" style="padding-bottom:20px" *ngFor="let country of fcountriesdata|filter:search | paginate: { itemsPerPage: 12, currentPage: p}">
      <div class="card">
        <img class="card-img-top" [src]="country.flag" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="font-size:26px">{{country.country}}</h5>
          <ul class="list-group list-group-flush" >
            <li class="list-group-item" >Total Cases: {{country.confirmed | number}}</li>
            <li class="list-group-item" >Total Deaths: <span [ngClass]="{'myclass newd':country.deaths>0}">{{country.deaths | number}}</span></li>
          </ul>
        <div class="card-body">
          <a [routerLink]="['/acountry', country.country]" [queryParams]="{confirmed: country.confirmed, deaths: country.deaths}" class="card-link alink" style="font-size: medium;"
          [class.disabled]="areDetailsAvailable(country.country) ? true: null">More Details</a>
        </div>
    </div>
</div>
</div>
</div>
<div class="text-center">
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>