<div id="pcoded" class="pcoded iscollapsed" nav-type="st6" theme-layout="vertical" vertical-placement="left"
  vertical-layout="wide" pcoded-device-type="desktop" vertical-nav-type="expanded" vertical-effect="shrink"
  vnavigation-view="view1" fream-type="theme1" sidebar-img="false" sidebar-img-type="img1" layout-type="light">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <div class="pcoded-main-container" style="margin-top: 0;">
      <div class="pcoded-wrapper">
        <div class="col col-md-12">
          <span style="cursor : pointer" (click)="goBack()">
            <span class="back pirate">
              <i class="fa fa-arrow-left" aria-hidden="true"></i> Back</span>
          </span>
        </div>
        <div class="pcoded-inner-content">
          <div class="main-body">
            <div class="page-wrapper">
              <div class="country">{{country}}</div>
              <div class="page-body">
                <div class="row">
                  <div class="col-xl-4 col-md-6">
                    <div class="card bg-c-yellow update-card">
                      <div class="card-block">
                        <div class="row align-items-end">
                          <div class="col-8">
                            <h4 class="text-white">{{total_cases | number}}</h4>
                            <h6 class="text-white m-b-0">Total Cases</h6>
                          </div>
                          <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1"
                              style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                            <canvas id="update-chart-1" height="62" style="display: block; height: 50px; width: 60px;"
                              width="75"></canvas>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <h4 class="text-white m-b-0"><i class="fa fa-arrow-up text-white f-14 m-r-10"></i>{{cases_slw}}
                        </h4>
                        <span class="text-nowrap">Most Cases</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-6">
                    <div class="card bg-c-pink update-card">
                      <div class="card-block">
                        <div class="row align-items-end">
                          <div class="col-8">
                            <h4 class="text-white">{{total_deaths | number}}</h4>
                            <h6 class="text-white m-b-0">Deaths</h6>
                          </div>
                          <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1"
                              style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                            <canvas id="update-chart-2" height="62" width="75"
                              style="display: block; height: 50px; width: 60px;"></canvas>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <h4 class="text-white m-b-0"><i class="fa fa-arrow-up text-white f-14 m-r-10"></i>{{deaths_slw}}
                        </h4>
                        <span class="text-nowrap">Most Deaths</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-6">
                    <div class="card bg-grey update-card">
                      <div class="card-block">
                          <div>
                            <p class="text-white m-b-0"><i class="fa fa-clock-o text-white f-14 m-r-10"></i>last updated :
                              {{last_updated}}</p>
                          </div>
                      </div>
                      <div class="card-footer mb-3">
                        <p class="text-white m-b-0">The data is as per information provided by the API:<br>
                          https://covid-19-coronavirus-statistics.p.rapidapi.com/</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-block">
                        <span class="m-b-15">Cummulative data of confirmed cases in provinces</span>
                        <div class="card bg-default">
                          <div class="card-body">
                            <!-- Chart -->
                            <div *ngIf="confirmedChart" class="chart">
                              <!-- Chart wrapper -->
                              <canvas baseChart chartType="bar" id="chart-total-cases" class="chart-canvas" [datasets]="confirmedChart.datasets"
                                [labels]="confirmedChart.labels" [options]="confirmedChart.options"></canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-block">
                        <h6 class="m-b-15">Cummulative data of deaths in provinces</h6>
                        <div class="card bg-default">
                          <div class="card-body">
                            <div class="chart" *ngIf="deathChart">
                              <canvas baseChart chartType="bar" id="chart-daily-cases" class="chart-canvas" [datasets]="deathChart.datasets"
                                [labels]="deathChart.labels" [options]="deathChart.options"></canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="git">
                  <a href="https://github.com/ankursgt/Covid19-Live" class="icon-button github"><i
                      class="fa fa-github"></i>
                    <span>Open sourced on Github</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>