
  div, span{
    font-family: 'Poppins', Arial, Helevtica, sans-serif !important;
  }
  .bar {
    fill: #d81c3f;
  }
  
  .bar:hover {
    fill: #fff;
  }
  
  .axis {
    font: 10px sans-serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .x.axis path {
    display: none;
  }

  #git{
    width: 240px;
    height: 50px;
    font-size: 1.6rem;
    background: #211F1F;
    border-radius: 50px;
    transition: width .5s;
    position: relative;
    bottom: 5px;
    left: 5px; 
    cursor: pointer;
    margin: 0 auto;
  }

  a{
    text-decoration: none;
  }
  
  .icon-button span{
  position: relative;
  left:20px;
  top: 2px;
  color:#fff;
  font-family: 'Poppins', sans-serif;font-size:16px;line-height:1em;
  }
  
  #git:hover {
    width: 240px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
  }
  
  #git:focus {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
  }
  
  #git i{
    position: relative;
    left:14px;
    top: 3px;
    color:#fff;
    font-size: 1.5em
  }

  .country{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    color: transparent;
    text-align: center;
    font-size: 8vw;
    -webkit-text-stroke: 1px #fff;
    text-transform: uppercase;
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    background-image: url('../../assets/images/virus.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
  }

  .bg-grey {
    background: linear-gradient(to right, grey, lightgray);
  }