*{
    font-family: 'Roboto', sans-serif;
}
#content-desktop{
    display: block;
}

#content-mobile{
    display: none;
}
.holder{
    position: relative;
    display: inline-block;
    width: 100%;
}

.regions p{
    position: absolute;
    font-family: 'Pirata One', cursive;
    font-size: 2vw;
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 3px rgb(255, 255, 255);
}

.africa{
    top:44%;
    left: 54%;
}

.america{
    top:40%;
    left: 24%;
}

.asia{
    top:20%;
    left: 71%;
}

.europe{
    top:18%;
    left: 50%;
}

.oceania{
    top:50%;
    left: 85%;
}
  
  .btn-region {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 2em;
    position: relative;
    background: transparent;
    border: none;
    color: #000;
    padding: 20px;
    width: 42vw;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px rgb(59, 74, 87);
    border-radius: 4px;
  }
  
  .btn-region:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px grey;
    color: #000;
  }
  
  .btn-region:after {
    content: "";
    background:grey;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .btn-region:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .button:focus { outline:0; }
  

@media only screen and (max-device-width: 768px) {
    #content-desktop{
        display: none;
    }
    #content-mobile{
        display: block;
    }
}